.card {
    max-width: 540px !important;
    max-height: 487px;
    position: relative;
    margin-bottom: 3rem !important;
    justify-content: space-between;
}

.card .img {
    width: 100%;
    padding-bottom: 1.5rem;
}

.card img:hover {
    opacity: 0.7;
}

.card .name {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    color: #fff;
    padding-bottom: 0.8rem;
}

.card .language {
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    color: #d9d9d9;
    /* padding-bottom: 1.5rem; */
}

.linksBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 45%;
    left: 40%;
    height: 123px;
    width: 138px;
}

.linksBox .link {
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.29px;
    color: #fff;
    border-bottom: 1px solid #4ee1a0;
    width: 100%;
    text-align: center;
    text-decoration: none;
}

.link:hover {
    color: #4ee1a0;
}

@media (max-width: 1100px) {
    .card {
        max-width: 450px !important;
    }
}

@media (max-width: 900px) {
    .card {
        max-width: 21.5rem !important;
        justify-content: center;
    }
    .linksBox {
        position: unset;
        flex-direction: row;
        gap: 2rem;
        width: 100%;
        height: auto;
        padding: 1.5rem 0;
    }
}